.box {
    width: 100px;
    height: 100px;
    border: 1px solid #333;
}

.box .red {
    background-color: red;
    color: white;
}

.box .green {
    background-color: green;
    color: white;
}

.box .yellow {
    background-color: yellow;
    color: #333;
}